[submodule "unitree_ros_to_real"]
	path = unitree_ros_to_real
	url = https://github.com/unitreerobotics/unitree_ros_to_real.git
[submodule "ros_utilities"]
	path = ros_utilities
	url = https://github.com/pattylo/ros_utilities.git
